html, body {
  height: 100%;
}
body {height: 100%;  background-color: #f1f1f1;}                    
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}
a:link{
color: #000;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited{
background-color: transparent;
color: #000;
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}

a:hover{
color: #7a052e;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active{
background-color: transparent;
color: #7a052e;
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}

.wrapper{max-width:1280px; min-height:100%; margin:0 auto; background-color:#fff}
.page-header{padding-bottom:9px;margin:1px 0 21px;border-bottom:1px solid #cccccc}

/* ERROR & LOGIN & LOCKSCREEN*/
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}
.lockscreen.middle-box {
  width: 200px;
  padding-top: 110px;
}
.loginscreen.middle-box {
  width: 300px;
}
.loginColumns {
  max-width: 420px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}
.passwordBox {
  max-width: 460px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}
.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.middle-box h1 {
  font-size: 170px;
}
.wrapper .middle-box {
  margin-top: 140px;
}
.lock-word {
  z-index: 10;
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -470px;
}
.lock-word span {
  font-size: 100px;
  font-weight: 600;
  color: #e9e9e9;
  display: inline-block;
}
.lock-word .first-word {
  margin-right: 160px;
}

.block {
  margin-bottom: 20px;
  clear: both;
  display: block;
  width: 100%;
}
.block.collapsed {
  overflow: hidden;
}
.block .block-heading {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  -webkit-block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  padding: 15px;
  margin: 0 !important;
}
.block .block-heading + .block-content-outer {
  border-top: 0 !important;
}
.c-widget .c-widget-heading,
.block .block-heading {
  float: left;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}
.c-widget .c-widget-heading .h2,
.c-widget .c-widget-heading .main-text,
.block .block-heading .h2,
.block .block-heading .main-text {
  float: left;
}
.block .block-heading .main-text .badge {
  margin-top: 6px;
}
.block .block-heading .block-controls {
  float: right;
  margin: 7px 0 0;
}
.block .block-heading .block-controls > a,
.block .block-heading .block-controls > button,
.block .block-heading .block-controls > div.btn-group {
  float: right;
  margin: 0 0 4px 4px;
}
.block .block-heading .block-controls > .icon {
  float: right;
  opacity: 0.5;
  margin: 0 0 0 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.block .block-heading .block-controls .icon:hover {
  opacity: 1;
}
.block .block-content-outer {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  border-bottom: 3px solid #4596f1;
  padding: 10px;
  clear: both;
  position: relative;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
  -webkit-block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  block-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.block.collapsed .block-heading {
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
}
.block.collapsed .block-content-outer {
  display: none;
}
.block.collapsed .block-heading .block-controls .icon.block-control-collapse {
  color: #FF0000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
 .block-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
/* Block Colors */
.block.highlight-color-green,
.block.highlight-color-orange,
.block.highlight-color-yellow,
.block.highlight-color-blue,
.block.highlight-color-red,
.block.highlight-color-lime,
.block.highlight-color-purple {
  border-bottom: 0 !important;
}
.block.highlight-color-green .block-content-outer {
  border-bottom: 3px solid #6ec06e;
}
.block.highlight-color-orange .block-content-outer {
  border-bottom: 3px solid #ff8b1a;
}
.block.highlight-color-yellow .block-content-outer {
  border-bottom: 3px solid #ffd040;
}
.block.highlight-color-blue .block-content-outer {
  border-bottom: 3px solid #4596f1;
}
.block.highlight-color-red .block-content-outer {
  border-bottom: 3px solid #c93232;
}
.block.highlight-color-lime .block-content-outer {
  border-bottom: 3px solid #b2cd4d;
}
.block.highlight-color-purple .block-content-outer {
  border-bottom: 3px solid #ff4db6;
}
/* Block Sizes */
.block .block-content-outer .block-content-inner {
  min-height: 300px;
  margin-left: 55px;
}
.block .block-size-medium .block-content-outer .block-content-inner{
  height: 283px;
  overflow: hidden;
}
.block .block-size-normal .block-content-outer .block-content-inner {
  height: 210px;
  overflow: hidden;
}
.block .block-size-login .block-content-outer .block-content-inner {
  height: 210px;
  overflow: hidden;
  width: 100px;
}
.block .block-size-large .block-content-outer .block-content-inner {
  height: 920px;
  overflow: hidden;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.btn-custom {
  background-color: #9e0b3d;
  border-color: #9e0b3d;
  color: #fff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #7a052e;
  border-color: #a02828;
  color: #fff;

}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #c93232;
  border-color: #c93232;
  color: #fff; 
}

.navbar-default {
  background-color: #9e0b3d;
  border-color: #ffff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#9e0b3d), to(#c93232));
  background-image: -webkit-linear-gradient(top, #9e0b3d, 0%, #9e0b3d, 100%);
  background-image: -moz-linear-gradient(top, #9e0b3d 0%, #9e0b3d 100%);
  background-image: linear-gradient(to bottom, #9e0b3d 0%, #9e0b3d 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd65858', endColorstr='#ffc93232', GradientType=0);
}

.navbar-default .navbar-brand {
  color: #ffffff; 
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #7a052e;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7a052e), to(#7a052e));
  background-image: -webkit-linear-gradient(top, #7a052e, 0%, #7a052e, 100%);
  background-image: -moz-linear-gradient(top, #7a052e 0%, #7a052e 100%);
  background-image: linear-gradient(to bottom, #7a052e 0%, #7a052e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae2b2b', endColorstr='#ffcf3e3e', GradientType=0);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ac2b2b;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #7a052e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ae2b2b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    width: 250px;
}


/* Sidebar Styles */

.sidebar-nav {
    background-color: #7a052e;	
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

/* Cases page */
ul.padding li {
    padding: 0.2em 0;
}

.case-header {
    padding: 0 0 1em 0;
}

.case-items {padding: 1em 0;}
.case-items .panel-heading a {text-decoration: none;}
.case-message-content {padding: 1em;}
.case-message-content .quote {
    color: #808080; 
    font-size: 0.9em;
    font-style: italic;
}

.panel-heading.tocustomer {
    background: #ddd; 
}

.glyphicon-envelope.read {
    display: none;
}

.case-message .btn.btn-primary {
    margin: 0.5em;
}

.attachment.pull-right {
    padding: 0 0.5em;
}

td.action {
    white-space: nowrap;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 0;
}
.well-sm {
  padding: 9px;
  border-radius: 0;
}
